
footer {
    margin: 0 1rem;
}

footer p {
    text-align: center;
    color: white;
}

.nav-links-container {
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 17vh;
    display: flex;
}
.nav-links {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

.nav-links > li > a {
    color: white;
    text-decoration: none;
}