#root {
  background: #282c34;
}

.App {
  text-align: center;
  background: #282c34;
  color: white;
  display: flex;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.main-div {
  width: 80%;
  min-height: 100vh;
  display: block;
  color: white;
  background-color: #282c34;
}
.navbar-top {
  margin-top: 20px;
  margin-bottom: 40px;
}
.nav-item {
  width: 17vw;
}
.navbar {
  border-radius: 40px;
  font-size: 3vw;
  color: white;
}
.header-title {
  font-size: 6vw;
  text-decoration: underline;
  text-align: left;
}
.content-aboutme {
  font-size: 1.8vw;
  text-align: left;
  font-family: Kodchasan-Bold;
}
.about-image {
  width: 15vw;
  height: 15vw;
  margin-top: 18vh;
}
.about-image1 {
  width: 15vw;
  height: 15vw;
  margin-top: -13vh;
  margin-left: -5vw;
}
.about-image-home {
  width: 20vw;
  height: 20vw;
  margin: 1vw;
}
.content-bio {
  text-align: left;
  margin-top: 5vh;
  margin-left: 6vw;
  font-family: Kodchasan-Bold;
}
.number {
  color: #61dafb;
  font-size: 2vw;
  font-family: Kodchasan-Bold;
}
.person-info {
  font-size: 2vw;
  font-family: Kodchasan-Bold;
}
.name-cap {
  font-size: 7vw;
  font-family: Arizona-Regular;
  font-weight: bold;
}
.name-sm {
  font-size: 2.5vw;
  font-family: Kodchasan-Bold;
}
.name-sm-contact {
  font-size: 2.5vw;
  font-family: Kodchasan-Bold;
}

.name-sm-contact-description {
  font-size: 1.5vw;
  font-family: Kodchasan-Bold;
}

.image-icon {
  width: 3vw;
  height: 3vw;
  margin: 1.5vw;
}
.project-icon {
  width: 2vw;
  height: 2vw;
  margin: 0.2vw;
}

.project-layout:hover {
  border: solid;
  border-color: #2e87cc;
  box-shadow: 0px 0px 10px 10px #2e87cc;
}

.project-layout img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.project-layout {
  border: solid;
  border-color: #657d8f;
  height: fit-content;
  border-radius: 28px;
  padding: 30px;
  margin: 3.2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}

.btn-container {
  margin-top: 20px;
  display: flex;
  margin: 1em;
}

.icon-layout-project img {
  border-radius: 50%;
  margin: 0 15px;
}

.project-title {
  text-align: left;
  font-family: Kodchasan-Bold;
  font-size: 1.7vw;
  text-align: center;
  margin-top: 10px;
}
.icon-layout-project {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.margintop-std {
  margin-top: 100px;
}
.secondary {
  font-size: 5vw;
}

.App-link {
  color: #61dafb;
}
@font-face {
  font-family: "Arizona-Regular";
  font-weight: 800;
  src: local("Arizona-Regular"),
    url(./assets/Arizonia-Regular.ttf) format("truetype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
@font-face {
  font-family: "Kodchasan-Bold";
  src: local("Kodchasan-Bold"),
    url(./assets/Kodchasan-Bold.ttf) format("truetype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.category-btn {
  width: 6rem !important;
}
.category-btn > .btn {
  width: 6rem !important;
}
.name-section {
  margin-top: 115px;
}